<div class="container-fluid">
  <div class="container-fluid row">
    <h1 class="col-4">
      White Board
    </h1>

    <span class="text-right col-8">

    <a routerLink="/login">Login</a>
      &nbsp;/&nbsp;
    <a routerLink="/register">Register</a>
       <!--/-->
      <!--<a routerLink="/profile">Profile</a>-->
    </span>
  </div>

  <ul>
    <li>Enrolled courses</li>
    <li *ngFor="let course of courses">
      {{course.title}}
    </li>
  </ul>

  <app-course-grid></app-course-grid>
</div>
