<div *ngFor="let widget of widgets">
  <!--{{widget.widgetType}}-->
  <div [ngSwitch]="widget.widgetType">

    <div *ngSwitchCase="'Heading'"
         class="form-control container widget">
      <div>name: {{widget.name}}</div>
      <div>content:</div>
      <div [ngSwitch]="widget.size">
        <h1 *ngSwitchCase="1">{{widget.text}}</h1>
        <h2 *ngSwitchCase="2">{{widget.text}}</h2>
        <h3 *ngSwitchCase="3">{{widget.text}}</h3>
        <h4 *ngSwitchCase="4">{{widget.text}}</h4>
        <h5 *ngSwitchCase="5">{{widget.text}}</h5>
        <h6 *ngSwitchCase="6">{{widget.text}}</h6>
      </div>
    </div>

    <div *ngSwitchCase="'Link'"
         class="form-control container widget">
      <div>name: {{widget.name}}</div>
      <div>content:</div>
      <a href="{{widget.href}}">{{widget.text}}</a>
    </div>

    <div *ngSwitchCase="'List'"
         class="form-control container widget">
      <div>name: {{widget.name}}</div>
      <div>content:</div>
      <div [ngSwitch]="widget.listType">
        <div *ngSwitchCase="'ORDERED'">
          <ol>
            <li *ngFor="let item of widget.listItems.split('\n')">
              {{item}}
            </li>
          </ol>
        </div>
        <div *ngSwitchCase="'UNORDERED'">
          <ul>
            <li *ngFor="let item of widget.listItems.split('\n')">
              {{item}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'Image'"
         class="form-control container widget">
      <div>name: {{widget.name}}</div>
      <div>content:</div>
      <img src="{{widget.src}}"/>
    </div>

    <div *ngSwitchCase="'Paragraph'"
         class="form-control container widget">
      <div>name: {{widget.name}}</div>
      <div>content:</div>
      <p>{{widget.text}}</p>
    </div>

  </div>
</div>




