<div class="row">
  <div *ngFor="let course of courses"
       class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <h6 class="card-subtitle">course description</h6>
        <br/>
        <div>
          <button class="btn btn-outline-primary course-grid-button"
                  routerLink="/course/{{course.id}}">View Detail
          </button>
        </div>
        <div>
          <button class="btn btn-outline-primary course-grid-button"
                  routerLink="/course/{{course.id}}/section">Sections
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
