<div class="row">
  <div *ngFor="let course of courses"
       class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div>
          <a class="btn btn-primary"
             routerLink="/course/{{course.id}}">View Detail</a>
        </div>
        <div>
          <a class="btn btn-primary"
             routerLink="/course/{{course.id}}/section">Enroll</a>
        </div>
      </div>
    </div>
  </div>
</div>
